<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= title %></title>
</head>
<body>
  <div class="container">
    <table class="table" border="1">
      <thead>
        <tr>
          <th>아이디</th>
          <th>암호</th>
          <th>이름</th>
          <th>버튼</th>
        </tr>
      </thead>

      <tbody>
        <% rows.forEach(function(tmp) { %>
        <tr>
          <td><%= tmp._id %></td>
          <td><%= tmp.userpw %></td>
          <td><%= tmp.username %></td>
          <td>
            <form action="/mongo/delete" method="post">
              <input type="hidden" name="userid" value="<%= tmp._id %>" />
              <input type="submit" value="삭제" />
            </form>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</body>
</html>